@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<center style="margin-top:15px;">
    <p>
        Use link from message on your email to rest password
    </p>
</center>
