@model AutoPartsStore.Models.ViewModels.PartListViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>Part Shop</h1>


<div class="form-group">
    <input type="text" class="form-control" id="searchText"/>
    <button class="form-control btn btn-primary" id="search">Search</button>
</div>

<div id="partList">

</div>