/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.field-validation-error {
    color: red;
    background-color: pink;
    border: 1px solid pink;
    border-radius: 3px;
    padding: 3px;
}

.nav-item {
    margin-right: 10px;
}

.field-validation-error {
    display: flex;
    justify-content: center;
}


/*Cart View*/

#cartConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart {
    display: flex;
    margin: 15px;
    border: 1px solid gray;
    border-radius: 3px;
    flex-direction: column;
}

#cartList {
    display: flex;
    flex-direction: column;
}

.cartItem {
    display: flex;
    justify-content: space-between;
}

    .cartItem .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-right: 50px;
    }

    .cartItem label {
        font-size: 25px;
    }

    .cartItem img {
        margin-left: 15px;
        height: 200px;
    }

    .cartItem .leftTab {
        display: flex;
    }

    .cartItem .quantity label {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .cartItem .quantity {
        flex-direction: column;
    }

    .cartItem .btn {
        padding-top: 2.5px;
    }

#cart #bottomTab {
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
}

#cart #makeOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    font-size: 20px;
}

#cart #bottomTab input {
    font-size: 20px;
}

#cart #clear {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 15px;
}

#cart .lineHorizontal {
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin: 15px 0px 15px 0px;
}

.cartItem .price {
    margin-bottom: 10px;
}

#cart #empty {
    display: flex;
    justify-content: center;
    align-content: center;
}

#cart #empty {
    color: lightgray;
}

#cart .top a {
    display: flex;
    align-self: center;
    margin-left: 10px;
    margin-top: 1%;
}

#cart .top {
    display: flex;
}

#cart center {
    margin-left: 30%;
}

#cart .price {
    width: 120px;
}

#cart .quantity input {
    width: 36px;
    height: 36px;
}


/*Order View*/
#orderConteiner {
    display: flex;
    justify-content: center;
    align-content: center;
}

#order {
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 15px;
    padding: 15px;
}

    #order #list {
        display: flex;
        flex-direction: column;
    }

        #order #list .item {
            margin-top: 15px;
        }

            #order #list .item label {
                width: 110px;
            }


/*Order Add*/

#addCart {
    display: flex;
    justify-content: center;
    align-content: center;
}

#showList {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 15px;
}

    #showList .item {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

        #showList .item .center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin-right: 50px;
        }

        #showList .item img {
            margin-left: 15px;
            height: 90px;
        }

        #showList .item .leftTab {
            display: flex;
        }

        #showList .item label {
            display: flex;
            justify-content: center;
            align-content: center;
        }

        #showList .item .quantity {
            flex-direction: column;
        }


/*Admin View*/
/*Create*/

#adminConteiner {
    display: flex;
    justify-content: center;
}

    #adminConteiner .horizontalLine {
        border-top: 1px solid lightgray;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #adminConteiner #create {
        margin-top: 20px;
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 10px;
    }

    #adminConteiner .list {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    #adminConteiner .item {
        margin: 10px 10px 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        #adminConteiner .item label {
            width: 112px;
        }

        #adminConteiner .item .collum {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;
        }

            #adminConteiner .item .collum .second {
                margin-top: 10px;
            }

    #adminConteiner .header {
        width: 74%;
        justify-content: space-around;
    }

    #adminConteiner .marginRight {
        margin-right: 10px;
    }

#featureCreat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 20px;
}

    #featureCreat .right {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    #featureCreat .list {
        padding-bottom: 10px
    }

    #featureCreat input {
        margin-right: 10px;
    }

#adminConteiner .center {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
}

#adminConteiner .right {
    display: flex;
    justify-content: right;
}

#adminConteiner .item #imageFile {
}

#adminConteiner ul {
    list-style-type: none;
    color: red;
    background-color: pink;
    border: 1px solid pink;
    border-radius: 3px;
    padding: 3px;
}

#adminConteiner .validation-summary-errors {
    display: flex;
    justify-content: center;
}

#file-upload-button {
    visibility: collapse;
}

/*Admin Phone show*/

#adminShowConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

    #adminShowConteiner #list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgray;
        border-radius: 3px;
        margin-top: 20px;
    }

    #adminShowConteiner .horizontalLine {
        border-top: 1px solid lightgray;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #adminShowConteiner #list .item img {
        height: 100px;
        margin-left: 10px;
    }

    #adminShowConteiner #list .item {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

        #adminShowConteiner #list .item > * {
            margin-right: 10px;
        }

    #adminShowConteiner .top {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

        #adminShowConteiner .top a {
            display: flex;
            align-self: center;
            margin-left: 10px;
            margin-top: 1%;
        }

    #adminShowConteiner center {
        margin-left: 11%;
    }


/*Phone Show View*/

#showConteiner {
    display: flex;
    justify-content: center;
    align-content: center;
}

#tab {
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 15px;
    height: 700px;
    min-width: 300px;
}

    #tab .placeHolder {
        min-width: 100px;
    }

    #tab table {
        display: flex;
    }

#showTab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

    #showTab img {
        max-width: 300px;
        max-height: 500px;
    }

    #showTab input {
        font-size: 40px;
    }

    #showTab p {
        font-weight: bold;
        font-size: 25px;
        margin: 10px;
    }

#featureList {
    display: flex;
    flex-direction: column;
}

    #featureList .item {
        display: flex;
        justify-content: space-between;
    }

.verticalLine {
    border-left: 1px solid lightgrey;
    height: 100%;
    left: 50%;
    margin-left: -3px;
    top: 0;
}


/*Login View*/

#signInConteiner {
    display: flex;
    justify-content: center;
    align-content: center;
}

#signIn {
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 15px;
    padding: 15px;
}

    #signIn #list {
        display: flex;
        flex-direction: column;
    }

        #signIn #list .item {
            margin-top: 15px;
        }

            #signIn #list .item label {
                width: 110px;
            }

    #signIn #register {
        margin-top: -38px;
    }

    #signIn ul {
        list-style-type: none;
        color: red;
        background-color: pink;
        border: 1px solid pink;
        border-radius: 3px;
        padding: 3px;
    }

#list .lineHorizontal {
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin: 15px 0px 15px 0px;
}

.validation-summary-errors {
    display: flex;
    justify-content: center;
}

    .validation-summary-errors ul {
        list-style-type: none;
        color: red;
        background-color: pink;
        border: 1px solid pink;
        border-radius: 3px;
        padding: 3px;
    }

#signIn .forgotPassword {
    display: flex;
    justify-content: center;
}

    #signIn .forgotPassword a {
        color: blue;
        font-size: 10px;
    }



/*ResetPassword groop*/

.lineHorizontal {
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin: 15px 0px 15px 0px;
}

#passwodConteiner {
    display: flex;
    justify-content: center;
}

    #passwodConteiner #password {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 1px solid lightgray;
        border-radius: 3px;
        margin-top: 20px;
        padding: 15px;
    }

        #passwodConteiner #password .item {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

            #passwodConteiner #password .item label {
                margin-right: 5px;
            }

            #passwodConteiner #password .item input {
                width: 250px
            }

    /**/
    #passwodConteiner #passwordEnter {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 1px solid lightgray;
        border-radius: 3px;
        margin-top: 20px;
        padding: 15px;
    }

        #passwodConteiner #passwordEnter .item {
            margin-bottom: 10px 0px 10px 10px;
        }

            #passwodConteiner #passwordEnter .item label {
                width: 130px;
                margin-right: 5px;
            } 